<section class="pollPage">
<div class="header">
	<h1>Complete List of All Polls</h1>
</div>

<div class="row">
	<div class="col-xs-5">
		<a href="#/new" class="btn btn-default">
			<span class="glyphicon glyphicon-plus"></span> New Poll
		</a>
	</div>
	<div class="col-xs-9">
		<label> Search: </label>
		<input type="text" class="form-control" ng-model="query" placeholder="Search for a poll" autofocus>

		<label class="form-group"> by:
			<select ng-model="pollOrder">
				<option value="question">Question</option>
			</select>
		</label>

		<label class="form-group">
			<input type="radio" ng-model="direction" name="direction" checked>
			ascending
		</label>
		<label class="form-group">
			<input type="radio" ng-model="direction" name="direction" value="reverse">
			descending
		</label>
	</div>
</div>

<div class="row">
	<div class="col-xs-12"><hr></div>
</div>
<div class="row" ng-switch on="polls.length">
	<ul ng-switch-when="0">
		<li><em>There are no polls in the DB right now. 
				If you like, you can <a href="#/new">create one</a>.
		</li>
	</ul>
	<ul ng-switch-default>
		<!-- apply the user input filtering keyword -->
		<li ng-repeat="poll in polls | filter:query | orderBy: pollOrder:direction">
			<!-- provide a link to check the detail information of this poll -->
			<a href="#/poll/{{poll._id}}">{{poll.question}}</a>
		</li>
	</ul>
</div>
</section>