<div class="header">
	<h1> Complete List for All Polls </h1>
</div>

<div class="row">
	<div class="col-xs-5">
		<!-- create a button for creating a new Poll  -->
		<a href="#/newPoll" class="btn btn-default"> New Poll </a>
	</div>

	<div class="col-xs-7">
		<!-- create a input box for searching certain poll -->
		<input type="text" class="form-control" ng-model="query">
	</div>
</div>

<div class="row" ng-switch on="polls.length">
	<ul ng-switch-when="0">
		<!-- This means there are no polls in the DB right now -->
		<li> No polls in the DB!! If you want, you can create a <a href="#/newPoll" > New Poll </a> now!</li> 
	</ul>

	<ul ng-switch-default>
		<li ng-repeat="poll in pollls | filter:query">
			<a href="#/poll/{{poll._id}}">{{poll.question}}</a>
		</li>
	</ul>
</div>

